# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#versioning-strategy

version: 2
updates:
  # Keep the Flutter dependencies of the library up to date
  - package-ecosystem: "pub" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "dependencies"
    versioning-strategy: increase # uses "increase" for apps and "widen" for libraries.
    groups:
      dart:
        applies-to: version-updates
        patterns:
          - "*"       # A wildcard that matches all dependencies in the package

  # Examples projects - Android
  - package-ecosystem: "gradle"
    directory: "/examples/alice/android/"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "dependencies"
    groups:
      android:
        applies-to: version-updates
        patterns:
          - "*"
  - package-ecosystem: "gradle"
    directory: "/examples/alice_chopper/android/"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "dependencies"
    groups:
      android:
        applies-to: version-updates
        patterns:
          - "*"
  - package-ecosystem: "gradle"
    directory: "/examples/alice_dio/android/"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "dependencies"
    groups:
      android:
        applies-to: version-updates
        patterns:
          - "*"
  - package-ecosystem: "gradle"
    directory: "/examples/alice_http/android/"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "dependencies"
    groups:
      android:
        applies-to: version-updates
        patterns:
          - "*"
  - package-ecosystem: "gradle"
    directory: "/examples/alice_http_client/android/"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "dependencies"
    groups:
      android:
        applies-to: version-updates
        patterns:
          - "*"
  - package-ecosystem: "gradle"
    directory: "/examples/alice_objectbox/android/"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "dependencies"
    groups:
      android:
        applies-to: version-updates
        patterns:
          - "*"

  # Github actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "dependencies"
    groups:
      github:
        applies-to: version-updates
        patterns:
          - "*"
