name: alice
description: Alice is an HTTP Inspector tool which helps debugging http requests. It catches and stores http requests and responses, which can be viewed via simple UI.
version: 0.6.7
#author: Jakub Homlala <jhomlala@gmail.com>
homepage: https://github.com/jhomlala/alice

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.3.0
  dio: ^5.8.0+1
  flutter_local_notifications: ^19.1.0
  rxdart: ^0.28.0

  path_provider: ^2.1.5
  permission_handler: ^12.0.0+1
  package_info_plus: ^8.3.0
  open_filex: ^4.7.0
  sensors_plus: ^6.1.1
  share_plus: ^11.0.0
  chopper: ^8.1.0
  collection: ^1.19.1
  url_launcher: ^6.3.1

dev_dependencies:
  very_good_analysis: ^7.0.0
  cider: ^0.2.8

flutter:
  plugin:
    platforms:
      android:
        package: com.jhomlala.alice
        pluginClass: AlicePlugin
      ios:
        pluginClass: AlicePlugin
      macos:
        pluginClass: AlicePlugin
